<header id="header">
  <h1>MyBlog</h1>
  <h2 *ngIf="isLogged">
    Welcome <span>{{ getEmail() }}</span
    >!
  </h2>
  <h2 *ngIf="!isLogged">Welcome!</h2>
  <nav id="nav">
    <ul>
      <li><button routerLink="/">Home</button></li>
      <li *ngIf="isLogged"><button (click)="handleLogout()">Logout</button></li>
      <ng-container *ngIf="!isLogged">
        <li><button routerLink="/login">Login</button></li>
        <li><button routerLink="/register">Register</button></li>
      </ng-container>
    </ul>
  </nav>
</header>
