<section *ngIf="isLogged" id="home-logged">
  <section class="first-section">
    <section class="background-container">
      <form #form="ngForm" (ngSubmit)="createPost(form)">
        <h1>Create Post</h1>
        <label for="title">Title</label>
        <input type="text" name="title" ngModel required minlength="4" />
        <label for="category">Category</label>
        <input type="text" name="category" ngModel required minlength="4" />
        <label for="content">Content</label>
        <textarea
          name="content"
          cols="30"
          rows="7"
          ngModel
          required
          minlength="10"
        ></textarea>
        <button>Submit</button>
      </form>
    </section>
  </section>
  <section class="second-section">
    <h3>My Articles</h3>
    <hr />
    <div class="posts-row">
      <article class="post" *ngFor="let post of posts | async">
        <h1>{{ post.title }}</h1>
        <h2>
          <span>{{ post.category }}</span>
        </h2>
        <p>{{ post.content }}</p>
        <a
          routerLink="/delete/{{ post.id }}"
          id="delete-button"
          (click)="deletePost(post)"
          >Delete</a
        >
        <a routerLink="/details/{{ post.id }}" id="details-button">Details</a>
        <a routerLink="/edit/{{ post.id }}" id="edit-button">Edit</a>
      </article>
    </div>
  </section>
</section>
<section *ngIf="!isLogged" id="home">
  <section class="background-container">
    <h1>Welcome to MyBlog!</h1>
    <div class="auth-buttons">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </section>
</section>
